h1 {
	font-size: 190%;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

h1 a,
h1 a:hover,
h1 a:focus {
  text-decoration: none;
}

h3 {
	margin: 0;
}

h4 {
	color: #442A56;
}

p {
  font-size: 115%;
}

a {
	color: #E93E2F;
}

a:hover {
	color: #442A56;
	text-decoration: none;
}

img {
	margin: 0 0 5px 0;
	display: block;
	width: 100%;
}

audio {
	width: 100%;
}

.btn {
	margin-bottom: 30px;
}

.podcast {
	margin-bottom: 30px;
}

.blue {
	color: #442A56;
}

.red {
	color: #E93E2F;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
	h1 {
		font-size: 450%;
	}

	.podcast p {
		font-size: 130%;
		line-height: 1.4;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
