// Place all the styles related to the Podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	margin: 15px 0;
	display: block;
	width: 100%;
}

h1 a,
h1 a:hover,
h1 a:focus {
  color: #333;
  text-decoration: none;
}
