<!DOCTYPE html>
<html>
<head>
  <title>This American MP3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<h1><a href="/">This American MP3</a></h1>
			<%= yield %>
		</div>
	</div>
</body>
</html>
